.eee {
  color: green;
}

.header {
  color: white;
  position: relative;
  z-index: 9999;
  top: -200px;
  font-size: 6rem;
  text-shadow: 0 0 8px #000;
  text-align: center;
}

.buttons {
  position: relative;
  z-index: 10999;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px;
  margin: 10px;
  top: 88px;
  font-size: 1.4rem;
  text-shadow: 0 0 8px #000;
  transition: all 0.5s;
  cursor: pointer;
}

.buttons:hover {
  translate: 2px;
}
.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}